In [16]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
# import dependencies; 'browser' instance from 'splinter', the 'BeautifulSoup' object, and the driver object for chrome

In [5]:
executable_path = {'executable_path': ChromeDriverManager().install()}
# creates an instance of a Splinter browser
browser = Browser('chrome', **executable_path, headless=False)
# specifies that we are using chrome as the browser, '**executable_path' unpacks the dictionary we've stored the path in,
# 'headless=False' means all the browser's actions will be displayed in a chrome window

In [6]:
#* Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)

#* Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)
# search for elements with specific combination of tag 'div' and attribute 'list_text'. We're also telling our browser to
# wait one second before searching for components. Optional delay is useful when dynamic pages take a while to load

True

In [7]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')
# notice 'slide_elem' is the variable assigned to look for the '<div />' tag and its descendants? This is our parent element
# meaning it holds all other elements within it, and we'll reference it when we want to filter search results even further.
# The '.' is used for selecting classes, such as 'list_text'

In [8]:
slide_elem.find('div', class_='content_title')
# here, we chain 'find()' on to the previously assigned variable 'slide_elem', specifying a search in the variable for the 
# specific data in a '<div />' with class 'content_title'

In [9]:
#* Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"How NASA's Mars Helicopter Will Reach the Red Planet's Surface"

In [10]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

'The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.'

### Featured Images

In [11]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [12]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [13]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [14]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars2.jpg'

In [15]:
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [17]:
df = pd.read_html('https://galaxyfacts-mars.com')[0]
# create a new dataframe from the html table. 'read_html' specifically searches for and returns a list of tables found in
# the html. By specifying index '0', we tell pandas to pull only the first table it encounters, or the first item in the 
# list. Then it turns that table into a dataframe
df.columns=['description', 'Mars', 'Earth']
# assign columns to the dataframe for additional clarity
df.set_index('description', inplace=True)
# by using the 'set_index()' function, we turn the 'description' column into the dataframe's index. 'inplace=True' means
# the updated index will remain in place without having to reassign the dataframe to a new variable
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [18]:
df.to_html()
# use pandas to easily convert the dataframe into html-friendly form

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [19]:
browser.quit()